html
  head
    title Redux starter
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
  body
    #page
    each jsFile in js
      script(src=jsFile)
